{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %}
    My pieces
{% endblock %}

{% block content %}
<header class="masthead fs" style="background: url('{% static 'img/header-bg-transp.jpg' %}')">
    <div class="page-section" style="padding-top: 200px;">
        <div class="container">
            {% for piece in pieces %}
                <div class="card mb-3 soft-card">
                    <div class="row no-gutters">
                        <div class="col-md">
                            <div class="card-body">
                                <h3 class="card-title">{{ piece.subject }}</h3>
                                <p class="card-text">{{ piece.description }}</p>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-center links">
                                    <h4 class="card-text">Status: {{ piece.status }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</header>
{% endblock content %}